
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About US</title>
</head>
<body>
    <section>
        <article>
            <h2> About US</h2>
            <p>Thinking about renting a car? At caarz we have all the latest cars you can think of. Where you can search by your preference, whether it might be an electric car or gas you have come to the right place. Here you can sort the cars based on the price, year, range, latest year, performance ..., etc.  the common electronic accessories for the cars can also be available here.</p>
        </article>
    </section>
    
</body>
