<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Team</title>
</head>
<body>
    <section>
        <article>
            <h2>TEAM</h2>
            <ol><ul>
            <li>Peddakotla Mohit Sai Krishna</li>
            <li>19BCE0431</li>
        <li>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Molestiae animi unde, vero dolorem illo quisquam ad ea corrupti provident corporis!</li></ul>
            <ul><li>KAIPU SURYA PRATHAP REDDY</li>
            <li>19BCE0211</li>
        <li>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Eligendi rerum pariatur asperiores beatae ex blanditiis totam excepturi consequuntur accusantium doloremque!</li></ul>
            <ul><li>G.G.S.S Devesh</li>
            <li>19BCE0427</li>
        <li>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Quaerat inventore quas recusandae excepturi dolores temporibus perspiciatis neque voluptas repellendus ipsum.</li></ul>
        </ol>
        </article>
    </section>